/* Text */
h1{
    font-family: "Victor Mono", monospace;
    color:#EE4949;
}
p{
    font-family: "Space Mono", monospace;
}
a{
    font-family: "Victor Mono", monospace;
    color:#EE4949;
}

/* Images*/
img{
    width: 100%;
    height: auto;
}

/* Layout */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/* header.html */
header{
    background-color: #EE4949;
    text-align: left;
    font-family: "Victor Mono", monospace;
    padding: 20px;
    position: sticky; /* Thought it would be good to have the header stay in place when scrolling */
}
.buttonlink{
    background-color: white;
    font-family: "Victor Mono", monospace;
    padding: 10px 20px;
    border-radius:5px;
    border-color: black;
    text-decoration:none;
    color:black;
}
.buttonlink:hover{
    background-color: whitesmoke;
}
.logo{
    width: auto; 
    height: 50px;
    vertical-align: middle; 
}


/* home.html */
.buttonlink1{
    font-family: "Victor Mono", monospace;
    padding: 10px 20px;
    border-radius:5px;
    border-width:3px;
    border-color:#EE4949;
    background-color: white;
    text-decoration:none;
    color:#EE4949;
    border-left: 50%
}
.container {
    top:10px;
    height: 200px;
    position: relative;
    border: 3px solid #EE4949;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* all_hardware.html */
.buttonlink2{
    font-family:"Victor Mono", monospace;
    color: #EE4949;
    padding: 10px 20px;
    display: block;
    margin-bottom: 5%;
}
.buttonlink2:hover{
    background-color: whitesmoke;
    color: #ee4949;
}
    /* Try JAVA script to make it so the image changes -> got help from copilot */
.column1left{
    flex: 35%;
    padding: 10px;
    text-align: center;
    box-sizing :border-box;
}
.column1right{
    flex: 65%;
    padding: 10px;
    text-align: center;
    box-sizing :border-box;
}
.img1{
    width: 100%;
    height: auto;
    position: sticky; /* Makes the image stay in place when scrolling (Advice from Alex)*/
    top: 20px;
}
.img2{
    width: 100%;
    height: auto;
    position: sticky; /* Makes the image stay in place when scrolling (Advice from Alex)*/
    top: 20px;
}

 /* Searchbar */
h2{
    font-family: "Victor Mono", monospace;
    color:#EE4949;
}
.container1 {
    margin-top:10px;
    margin-bottom:10px; 
    height: 50px;
    position: relative;
    border: 3px solid #EE4949;
    margin-right: 25%;
    margin-left: 25%;
}
.searchbar{
    display: block;
    margin: 0 auto;
    border: 2px solid #EE4949;   /* This will show a visible border */
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border-width:3px;
    font-family: "Victor Mono", monospace;
    font-size: 16px;
}
.open{
    font-family: "Victor Mono", monospace;
    color: #EE4949;
    padding: 5px 5px;
    border-radius:5px;
    border-width:3px;
    border-color:#EE4949;
    background-color: white;
    text-decoration:none;
}
.button_search{
    font-family: "Victor Mono", monospace;
    color: #EE4949;
    padding: 5px 10px;
    border-radius:5px;
    border-width:3px;
    border-color:#EE4949;
    background-color: white;
    text-decoration:none;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* hardware.html */
.column{
    flex: 50%;
    padding: 10px;
    text-align: center;
    box-sizing :border-box;
}



/* _footer.html*/
footer{
    border: 3px solid #EE4949;
    border-color: #EE4949;
    text-align: center;
    font-family: "Victor Mono", monospace;
    padding: 20px;
    margin-bottom: 20px;
}
