h1{
    font-family: "Victor Mono", monospace;
    color:#EE4949;
}
p{
    font-family: "Space Mono", monospace;
}


header{
    background-color: #EE4949;
    text-align: left;
    font-family: "Victor Mono", monospace;
    padding: 20px;
}
.buttonlink{
    background-color: white;
    font-family: "Victor Mono", monospace;
    padding: 10px 20px;
    border-radius:5px;
    border-color: black;
    text-decoration:none;
    color:black;
}
.buttonlink:hover{
    background-color: whitesmoke;
}
.buttonlink1{
    font-family: "Victor Mono", monospace;
    padding: 10px 20px;
    border-radius:5px;
    border-width:3px;
    border-color:#EE4949;
    text-decoration:none;
    color:#EE4949;
    text-align:center;
}
.buttonlink2{
    font-family:"Victor Mono", monospace;
    color: #EE4949;
    
}
.searchbar{
    float:right;
}

.column{
    width: 50%;

}