<div class="footer">

</div>

<div class="row">
    <div class="column1">
        <h2>Links</h2>
        <b><a href="https://www.nintendo.com/us/?srsltid=AfmBOopLaJ7clPdxw2M62PAfvFSFyXiFscxMJydsQbp2UOCiuAYi5964" 
    target="_blank">Nintendo Official Website</a></b><br>
        <b><a href="/attributions">Image Attributions</a></b><br>
    </div>

    <div class="column1">
        <h2>Contacts</h2>
        <b><a href="mailto: 22197@gmail.com">Email</a></b>
    </div>
    <div class="column1">
          <p>This is NOT an official website.</p>
          <h6>All trademarks and product names belong to their respective owners.</h6>
    </div>

</div>