{% extends "layout.html" %}
{% block content %}


<div class = "container1">
   <div class="center">
        <div class="searchbar">
            <input type="text" placeholder="Search...">
        </div>
   </div>
</div>

<div class="row">
    <div class="column1left">
        {% for hardware in hardwares%} {# when the mouse hovers the links, the image changes respectivly (help from Github Copilot)#}
            <a href = "/hardware/{{hardware[0]}}" class="buttonlink2"  
            onmouseover="changeImage('{{hardware[2]}}')" >
            {{hardware[1]}}
            </a>
        {% endfor %}
    </div>
    <div class="column1right">
        <img class="img1" src="/static/images/Nintendo_office.jpg" alt="nintendo_office" >
    </div>





{% endblock %}