{% extends "layout.html" %}
{% block content %}
{# presenting all the data for the hardware on that page #}
<h1>{{hardware[1]}}</h1>
<div class="row">
    <div class="column">
        <img src="{{hardware[7]}}" alt="{{hardware[1]}}" >
    </div>
    <div class="column">
        <p> {{hardware[3]}}</p>
    </div>
</div>
<div class="row">
    <div class="column">
        <p><b>Popular series available:</b></p>
        {% if not softwareseries%} {# having unknown instead of none #}
            <p>Unknown</p>
        {% else %}
            {% for software in softwareseries%}
                <a href = "/softwareseries/{{software[0]}}">
                    {{software[1]}}
                </a><br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="column">
        <p><b>Console Type:</b> {{hardware[5]}}</p>
        <p><b>Media Type:</b> {{hardware[6]}}</p>
        <p><b>Release Year:</b> {{hardware[2]}}</p>
        {% if hardware[4] == none %}
            <p><b>Sales:</b> Unknown</p>
        {% else %}
            <p><b>Sales:</b> {{hardware[4]}}</p>
        {% endif %}
    </div>
</div>
{% endblock%}