{% extends "layout.html" %}
{% block content %}
<div class = "container">
   <div class="center">
      <b><a href="/allhardware" class="buttonlink1">Get Started!</a></b>
      {# <img src="" alt="" width="" height="">     will have a timeline image here#}
   </div>
   <img src="" alt="Nintendo Logo" width="50%" height="auto">
</div>

<div class="row">
    <div class="column">
      <h1>
         This Website:
      </h1>
      <p>
         Nintendo is a large company based in Kyōto Japan, which manufactures video game software and hardware. It is one of the biggest companies in the industry, and has a long history starting from September 1889. <br>
         This website is a collection of information about Nintendo's hardware, including the consoles and handhelds they have released over the years. It is designed to be a resource for fans and enthusiasts who want to learn more about Nintendo's hardware history.
      </p>
    </div>
    <div class="column">
        <img src="/static/images/Nintendo_office.jpg" alt="nintendo_office" width="100%" height="80%">
        <p>Nintendo's office in Kyōto Japan</p>
    </div>
</div>

   
<hr>
{% endblock %}