{% extends "layout.html" %}
{% block content %}
<b><a href="/allhardware" class="buttonlink1">Get Started!</a></b>
<img src="" alt="" width="" height=""></img>
<h1>
   This Website:
</h1>
<p>
   This is a website were the 
   BlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblah<br>
   BlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblah<br>
   BlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblah<br>
   BlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblahBlahblah<br>
</p>
<hr>
{% endblock %}